.item-assessment {
    position: relative;
    width: 288px;
    height: 288px;
    border: 1px solid #000;
    border-radius: 12px;
    padding-left: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ẩn phần nền con vượt ra khỏi phần tử cha */
    &:hover {
      border-color: #009DBE;
      .menu-assessment {
        opacity: 1;
        transform: scale(1);
        transition: all 0s ease;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/backgroundAssess.svg");
      transition: transform 0.3s ease;
      z-index: -1; /* Đẩy phần tử nền xuống phía dưới phần tử cha */
    }
  
    &:hover::before {
      transform: scale(7);
    }
  }
  
  .line {
    height: 2px;
  }
  
  .menu-assessment {
    position: absolute;
    right: 20px;
    top: 20px;
    transform: scale(0.2);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  